body
{
  background-color: #f6f1ed;
}

/*Header styling */

.site-title
{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: left;
  margin: -10px -8px;
  background-color:  #30231d;
  color: #b5a397;
}

.site-signin
{
  text-align: right;
  float: right;
  padding-right: 20px;
  text-decoration: none;
  color: #b5a397;
}

.site-signin a:hover
{
  font-size: 45px;
  color: green;
}

.sign-in
{
  font-family: 'Fontdiner Swanky', cursive;
  font-size: 40px;
  padding-bottom: 20px;
  text-align: left;
  margin: -10px -8px;
  background-color:  #30231d;
  color: #b5a397;
}

.navlist
{
 list-style-type: none;
 margin: 8px -8px;
 padding: 0;
 overflow: hidden;
 background-color: #6a5750;
}

.navitem
{
  float: left;
  border: solid 1px;
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
}

.navitem a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navitem a:hover
{
  color: white;
  background-color: #b5a397;
}

/*Input boxes styling */

.input-container
{
  margin: auto;
  width: 280px;
  font-family: 'Slabo 27px', serif;
  /*border: solid;*/
  padding: 5px;
  /*margin-top: 50px;
  margin-left: 650px;
  border: solid;
  border-radius: 40px;
  background-color: #30231d;
  width: 175px;
  padding: 25px;*/
  /*align-content: center;*/
}

.user
{
  /*display: block;
  padding-top: 10px;
  margin-bottom: 35px;
  border-radius: 10px;
  border-style: solid;
  background-color: #f6f1ed;
  outline: none;
  text-align: center;
  font-size: 15px;*/
  font-family: 'Slabo 27px', serif;
  font-size: 25px;
  margin-bottom: 10px;
  padding: 10px;
}

.user-exception
{
  display: block;
  padding-top: 10px;
  margin-bottom: 35px;
  border-radius: 10px;
  border-style: solid;
  background-color: #f6f1ed;
  outline: none;
  text-align: center;
  font-size: 15px;
  font-family: 'Slabo 27px', serif;
}

#Submit
{
  margin-top: 10px;
  background-color:  #6a5750;
  outline: none;
  color: #f6f1ed;
  margin-left: 65px;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-color: #f6f1ed;
  font-size: 25px;
  font-family: helvetica, sans-serif;
}

#Submit:hover
{
  background-color: #b5a397;
}

.mySlides
{
   margin: auto;
   position: relative;
   border: 3px inset;
   border-radius: 3px;
   padding: 0px;
   top: 10px;
   background-image: url("tabletop.jpg");
}

.info
{
  font-family: 'Slabo 27px', serif;
  font-size: 20px;
  color: white;
  background-color: #6a5750;
  position: relative;
  margin: auto;
  top: 80px;
  width: 800px;
  padding: 20px;
  border: 4px groove;
}

/*Footer*/

.pageFooter
{
position: fixed;
bottom: 0;
width: 100%;
height: 8%;
margin-left: -8px;
background-color: #30231d;
color: #b5a397;
}

.footerText
{
font-family: 'Slabo 27px', serif;
font-size: 20px;
text-align: center;
margin-top: 5px;
margin-bottom: 5px;
}
